## Solving MagmaSat Crashes
- This isn't an ideal fix, but allows you to see how to troubleshoot

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import VESIcal as v

/opt/conda/lib/python3.9/site-packages/thermoengine/calibrate.py:378: DeprecationWarning: invalid escape sequence \*
  [re.match(base+'[\*0-9]*', iname) is not None
/opt/conda/lib/python3.9/site-packages/thermoengine/calibrate.py:382: DeprecationWarning: invalid escape sequence \*
  [re.match(base+'\*', iname) is not None
/opt/conda/lib/python3.9/site-packages/thermoengine/equilibrate.py:4014: DeprecationWarning: invalid escape sequence \*
  """Sets the bulk composition of the system

In [2]:
myfile=v.BatchFile('Example_Crash.xlsx', sheet_name="ExampleCrashing",  input_type='wtpercent')

In [3]:
mydata=myfile.get_data()
mydata

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O,H2O,CO2,Cr2O3,NiO,CoO,P2O5,Phase,P2O5_Liq,Temp
test1,45.327367,3.631167,13.698133,0.0,12.839767,0.301200,8.262467,7.621400,4.076733,2.476233,1.557465,1.654149,0.0,0.0,0.0,0.0,Ol,1.185533,1240
test2,48.754433,2.270100,17.430633,0.0,8.068233,0.146800,3.642600,8.819667,4.428833,4.017133,2.157018,0.194348,0.0,0.0,0.0,0.0,Ol,0.117033,1240
test3,47.658140,3.585273,13.549023,0.0,7.393343,0.141773,4.372847,14.259343,4.312523,1.912907,1.570977,1.825303,0.0,0.0,0.0,0.0,Ol,0.764800,1240
test4,43.567133,3.398133,15.511200,0.0,10.497367,0.213000,6.171733,11.716767,3.827167,2.421333,2.352577,0.706076,0.0,0.0,0.0,0.0,Ol,0.936767,1240

In [ ]:
# This cell crashes as it prints [===============     ] 75%  Working on sample test3        
#myfile.calculate_saturation_pressure(temperature=1250)

[===============     ] 75%  Working on sample test3

In [4]:
# You can see here it is indeed test3 that is breaking it
mydata1_ind=mydata.iloc[2].to_frame().T
myfile1_ind=v.BatchFile(filename=None, label=mydata1_ind.index, dataframe=mydata1_ind)
myfile1_ind.calculate_saturation_pressure(temperature=1240)

[====================] 100%  Working on sample test3

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O,...,P2O5_Liq,Temp,SaturationP_bars_VESIcal,Temperature_C_VESIcal,XH2O_fl_VESIcal,XCO2_fl_VESIcal,FluidMass_grams_VESIcal,FluidSystem_wt_VESIcal,Model,Warnings
test3,47.65814,3.585273,13.549023,0.0,7.393343,0.141773,4.372847,14.259343,4.312523,1.912907,...,0.7648,1240,7900,1240,0.070017,0.929983,0.003341,0.003341,MagmaSat,

In [5]:
new= mydata.copy()
filt=new[new.index!='test3'] # Exclude this one. 
myfile2=v.BatchFile(filename=None, label=filt.index, dataframe=filt)
out=myfile2.calculate_saturation_pressure(temperature=1250)
out

[====================] 100%  Working on sample test4

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O,...,P2O5_Liq,Temp,SaturationP_bars_VESIcal,Temperature_C_VESIcal,XH2O_fl_VESIcal,XCO2_fl_VESIcal,FluidMass_grams_VESIcal,FluidSystem_wt_VESIcal,Model,Warnings
test1,45.327367,3.631167,13.698133,0.0,12.839767,0.3012,8.262467,7.621400,4.076733,2.476233,...,1.185533,1240,7960,1250,0.085247,0.914753,0.001240,0.001240,MagmaSat,
test2,48.754433,2.270100,17.430633,0.0,8.068233,0.1468,3.642600,8.819667,4.428833,4.017133,...,0.117033,1240,2080,1250,0.297309,0.702691,0.000900,0.000900,MagmaSat,
test4,43.567133,3.398133,15.511200,0.0,10.497367,0.2130,6.171733,11.716767,3.827167,2.421333,...,0.936767,1240,3710,1250,0.259478,0.740522,0.001896,0.001896,MagmaSat,